@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Opera */

.game-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: url('./images/bg1.png') center no-repeat, url('./images/bg2.png') center 50vh no-repeat, linear-gradient(111.01deg, #200135 7.19%, #000000 94.45%), url('./images/bg1.png');
    background-size: cover;
    margin: 0;
    padding: 10px;
    height: 100vh;
    color: white;
}

.play-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.play-buttons > button {
    margin: 0px 5px;
}

.games-list-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    min-height: 50vh;
}

.game-box {
    border: solid 1px white;
    width: 250px;
    height: 290px;
    position: relative;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    position: relative;
    border-style: solid;
    border-color: #FF0099;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    background: url('./images/attack.png');
    background-size: cover;
    background-position: center bottom;
}

.game-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-id {
    font-size: 21px;
    font-weight: 700;
    background-color: rgba(195, 1, 121, 1);
    width: 50%;
    text-align: center;
    padding: 3px;
    border-radius: 0px 0px 15px 15px;
    font-size: 20px;
    font-weight: 700;
}

button.game-play-button {
    background: rgba(255, 0, 153, 0.1);
    border: 1px solid #FF0099;
    width: 150px;
    height: 41px;
    text-align: center;
    /* margin: auto; */
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.history-list-container {
    display: flex;
    flex-direction: column;
    height: 30px;
}

.history-box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.connect-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-content {
    border-radius: 15px !important;
    background: rgba(116, 47, 107, 0.50) !important;
    backdrop-filter: blur(10px) !important;
    color: white !important;
}

.modal-dialog {
    top: 30vh !important;
}

.modal-footer {
    display: table !important;
}

.explore-button {
    height: 55px;
    margin: auto !important;
    border-radius: 15px !important;
    background: linear-gradient(91deg, rgba(0, 255, 209, 0.70) 0%, rgba(255, 0, 153, 0.70) 100%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    text-align: center !important;
    border: none !important;
    color: #FFF !important;
    text-align: center !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    text-transform: uppercase;
}

.explore-button-cancel {
    border-radius: 15px !important;
    background: #7A5E91 !important;
    backdrop-filter: blur(5px) !important;
    height: 55px !important;
    text-transform: uppercase !important;
    color: #FFF !important;
    text-align: center !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    margin: auto !important;
}

.explore-button p {
    justify-content: center;
    margin: auto;
    font-size: calc(25px + 0.2vw);
    cursor: pointer;
    user-select: none;
}

.explore-col {
    width: auto !important;
    margin: auto !important;
    display: contents !important;
}

button.btn-close {
    color: white !important;
}

.explore-modal-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.explore-modal-title {
    background-color: rgba(195, 1, 121, 1);
    width: 50%;
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    font-size: 20px;
    font-weight: 700;
}

p.explorer-modal-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-modal-title {
    text-align: center;
}

.game-modal-troops{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.game-modal-troop-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-modal-troop-selector input {
    width: 100%;
}

.game-modal-troop-image {
    max-width: 100%;
}

.game-modal-troop-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    width: 80% !important;
}

.game-modal-opponent-address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100% !important;
}

.btn:disabled {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: #80808096 !important;
    border-color: #FF0099 !important;
    opacity: var(--bs-btn-disabled-opacity);
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #ff009985 !important;
    border-color: #FF0099 !important;
}

.game-play {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.games-history-bar {
    height: 35px;
    background: linear-gradient(89.97deg, #FF0099 -2.98%, rgba(178, 255, 0, 0.15) 95.84%);
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
}

.games-history-bar-text {
    text-transform: uppercase;
    font-weight: bold;
    display: contents;
}

.game-versus {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-versus-img {
    max-width: 90px;
}

.game-versus-profile {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #ff0099, #ff009955, #ff009900);
}

.point {
    aspect-ratio: 1 / 1;
    width: 10px;
    border-radius: 50%;
    float: right;
    top: 14px;
    right: 15px;
    position: absolute;
}

.point.active {
    background-color: #B2FF00;
    transition: all 0.5s ease-in-out;
    animation: blink normal 1.5s infinite ease-in-out;
}

.game-versus-profile-life-bar {
    border: solid 1px white;
    height: 7px;
}

.game-versus-profile-life {
    width: 70%;
    height: 100%;
    background-color: limegreen;
}

.hidden {
    display: none;
}

.loading-container {
    position: fixed;
    background-color: #ababab57;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button.accordion-button {
    background: linear-gradient(89.97deg, #FF0099 -2.98%, rgb(178 255 0 / 37%) 95.84%);
    color: white;
    font-weight: 700;
}

.accordion-body {
    background: linear-gradient(89.97deg, #FF0099 -2.98%, rgb(178 255 0 / 37%) 95.84%);
}